<header class="header">
    <div class="header__logo">
      <img src="assets/logo.png" alt="Logo" class="logo">
    </div>
  
    <div class="header__search">
      <input type="text" class="search-input" placeholder="Search for products, brands, and more">
      <button class="search-btn">
        <span class="material-icons">search</span>
      </button>
    </div>
  
    <div class="header__nav">
        <a routerLink="/login" class="nav-link">Hello, Sign in</a>
      <a href="#" class="nav-link">Returns & Orders</a>
      <a href="#" class="nav-link">Cart</a>
    </div>
  
    <div class="header__cart">
      <i class="material-icons">shopping_cart</i>
      <span class="cart-count">0</span>
    </div>
  </header>
  