<div class="login-container">
    <div class="login-box">
      <h2 class="text-center">Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            formControlName="username"
            class="form-control"
            [class.is-invalid]="loginForm.controls['username'].invalid && loginForm.controls['username'].touched"
          />
          <div *ngIf="loginForm.controls['username'].invalid && loginForm.controls['username'].touched" class="invalid-feedback">
            Username is required.
          </div>
        </div>
  
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            class="form-control"
            [class.is-invalid]="loginForm.controls['password'].invalid && loginForm.controls['password'].touched"
          />
          <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched" class="invalid-feedback">
            Password is required.
          </div>
        </div>
        <div class="form-group">
  <label for="role">Role</label>
  <input
    type="text"
    id="role"
    formControlName="role"
    class="form-control"
    [class.is-invalid]="loginForm.controls['role'].invalid && loginForm.controls['role'].touched"
  />
  <div *ngIf="loginForm.controls['role'].invalid && loginForm.controls['role'].touched" class="invalid-feedback">
    Role is required.
  </div>
</div>

  
        <div *ngIf="errorMessage" class="alert alert-danger text-center">
          {{ errorMessage }}
        </div>
  
        <button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid">Login</button>
  
        <div class="text-center mt-3">
          <a routerLink="/register" class="text-muted">Don't have an account? Register</a>
        </div>
      </form>
    </div>
  </div>
  