
<app-header></app-header>

<div class="text-end mb-3">
  <button class="btn btn-outline-success" [routerLink]="['/cart']">View Cart</button>
</div>


<div class="container mt-4">
  <div *ngFor="let product of products" class="card mb-3">
    <img [src]="product.image" class="card-img-top" alt="{{ product.name }}">
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">{{ product.description }}</p>
      <p class="card-text"><small class="text-muted">{{ product.price | currency }}</small></p>
      <button class="btn btn-primary"(click)="addToCart(product)">Add to Cart</button>
    </div>

  </div>
</div>
<div *ngIf="products.length === 0" class="container mt-4">
  <p class="text-center">No products available!</p>
</div> 
<app-footer></app-footer>